.grid-container{
   width: 80%;
   margin: auto;
   padding-top: 5px;
   display: grid;
   grid-template-columns: auto auto auto;
   row-gap: 5px;
   column-gap: 5px;
}
.item{
    height: 50px;
}
.yellow-pink{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    row-gap: 5px;
}
.yellow-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-weight: bold;
    height: 150px;
}
.red-container{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
}
.orange-container{
    background-color: rgba(230, 188, 3, 0.781);
    grid-column-start: 1;
    grid-column-end: 4;
    height: 150px;
}
.yellow-container{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 310px;
    display:grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 5px;
}
.green-container{
    background-color: green;
    height: 210px;
    margin-bottom: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
}
.pink-container{
    background-color: pink;
    height: 240px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.blue-container{
    background-color: blue;
    height: 170px;
    grid-column-start: 3;
    grid-column-end: 4;
}
.green2-container{
    display: none;
}
.yellow2-container{
    background-color: yellow;
    display: none;
}


/********************* media Queries **************** */
@media screen and (max-width: 768px){

    .orange-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .yellow-container{
        display:block;
        background-color: yellow;
        height: 150px;
    }

    .yellow-item{
        display: none;
    }

    .green-container{
        display: none;
    }

    .yellow-pink{
        grid-column-start: 1;
        grid-column-end:4;
        row-gap: 5px;
    }

    .pink-container{
        height: 300px;
    }

    .blue-green{
        grid-column-start: 1;
        grid-column-end:4;
    }

    .green2-container{
        background-color: green;
        display: grid;
        grid-column-start: 3;
        grid-column-end:4;
        height: 150px;
    }

}

@media screen and (max-width: 425px){

    .yellow2-container{
        display: flex;
        grid-column-start: 1;
        grid-column-end:4;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .yellow-container{
        display: none;
    }

    .green2-container{
        grid-column-start: 1;
        grid-column-end:4;
        height: 150px;
    }
    .orange-container{
        grid-column-start: 1;
        grid-column-end:4;
        height: 150px;
    }

    .pink-container{
        height: 150px;
    }

    .blue-container{
        height: 150px;
    }

}
