{% extends 'base.html.twig' %}

{% block title %}Mon Blog - Ajouter Article
{% endblock %}

{% block body %}
	<form class="addArticle_container container" method="post" action="{{path('app_articles_add')}}">
		<div class="form-group">
			<label for="exampleInputEmail1">Auteur</label>
			<input type="text" class="form-control" id="exampleInputEmail1"  name="name">
		</div>
		<div class="form-group" style="margin-bottom:20px;margin-top:20px;">
			<label for="exampleInputEmail1">Contenu de l'article</label>
			<textarea  class="form-control" id="exampleInputEmail1" rows="5" name="content" ></textarea>
		</div>
		<button type="submit" class="btn btn-primary" name="submit" >Submit</button>
	</form>
{% endblock %}
