<div id="form_container">
    <form [formGroup]="articleForm">
        <div class="form-group">
            <label for="title" class="form-label">Titre</label>
                <input type="text" class="form-control" formControlName="title">
                <span *ngIf="articleForm.controls['title'].invalid && (articleForm.controls['title'].dirty || articleForm.controls['title'].touched)" class="alert">
                     Ce champ est obligatoire  
                </span>
        </div> 
        <div class="form-group">
            <label for="author" class="form-label">Auteur</label>
                <input type="text" class="form-control" formControlName="author">
        </div>
        <div class="form-group">
            <label for="content" class="form-label">Description</label>
            <textarea class="form-control" formControlName="content"></textarea>
            <span *ngIf="articleForm.controls['content'].invalid && (articleForm.controls['content'].dirty || articleForm.controls['content'].touched)" class="alert">
                Ce champ est obligatoire  
           </span>
        </div>
        <div class="form-group">
            <label for="created_at" class="form-label">Date de publication</label>
            <input type="date" class="form-control" formControlName="created_at">
            <span *ngIf="articleForm.controls['created_at'].errors?.['invalidDate'] && (articleForm.controls['created_at'].dirty || articleForm.controls['created_at'].touched)">
                Entrer une date supérieur à la date d'aujourd'hui 
           </span>
        </div>
        <button type="submit" class="btn btn-secondary" (click)="onSubmitForm()" [disabled]="articleForm.invalid" > Ajouter </button>
    </form>
</div>
