{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container">
<h1>This is the home page </h1>
		{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                <h1> My name is {{ app.user.username}}. 
                I have admin and user roles </h1>
            {% elseif is_granted('ROLE_ADMIN') %}
                <h1> My name is {{ app.user.username}}. 
                I have admin role </h1>
            {% elseif is_granted('ROLE_USER') %}
                <h1> My name is {{ app.user.username}}. 
                I have user role </h1>
		{% endif %}
</div>
{% endblock %}
