{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
.container{
  width:80%;
  margin:auto;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.item{
  width:40%;
  border:solid black 1px;
}
span{
  font-size:20px;
}
</style>

<div class="container">
  {% for produit in produits %}
  <div class="item">
    <h2>Product name : <span>{{produit.name}}</span></h2>
    <h2>Product description : <span>{{produit.description}}</span></h2>
    <h2>Product price : <span>{{produit.price}} EUR</span></h2>
  </div>
  {% endfor %}
</div>
{% endblock %}