{% extends 'base.html.twig' %}

{% block title %}Mon Blog - Articles{% endblock %}

{% block body %}
<div class="container" id="article_container">
    {% for article in articles %}
    <div class="card" style="width: 100%;padding: 10px;">
        <div class="card-body">
            <p class="card-title"> <span class="title">Titre de l'article : </span> {{article.title}}</p>
            <p class="card-text">{{article.body}}</p>
        </div>
        <h4>Commentaires</h4>
        {% for comment in comments %}
            {% if comment.postId == article.id %}
            <div class="comment_item">
            <p class="card-title"><span class="title" > Publié par : </span> {{comment.name}}</p>
            <p> {{comment.body}}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% endblock %}
