
#navbar {
	display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 8px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
#grille {
    width: 20px;
    height: auto;
      opacity: 0.9;
      margin-top: 5px;
      box-sizing: border-box;
      &:hover {
        opacity: 1;
        border: 1px  rgb(141, 134, 134);
        box-shadow: 1px 2px 2px 1px rgba(117, 46, 46, 0.25);;
       
      }
  }
  
  .firstbloc{

    display: flex;
  justify-content: space-between;
   margin-top: 6px;
	align-items: center;
  }
  .nav {
    margin: 10px;
  }
  .link {
	color: #222;
  text-decoration: none;
  font-size: 17px;
  font-family: gill Sans;

  &:hover{
    text-decoration: underline;
  color: #0a0a0a;
}
  }
.secondbloc{
 display: flex;
 align-self: center;
 justify-content: center;
 margin :auto;
 height: auto;
}
.thirdbloc{
  display: flex;
  align-self: flex-end;
  justify-content:space-around;
  margin :auto;
  height: auto;
  margin-left: 12px;
  font-family: sans-serif;
 & .button1
  {
    background-color:rgb(10, 103, 156);
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
  &:hover {
    background-color: rgb(3, 63, 97);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);;
  }
}
  & .button2
  {
    background-color:rgb(253, 254, 255);
    
    font-size: 13px;
    color: rgb(77, 73, 73);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;

  }

}
.bi-chevron-down{
  color:#222;
}
.sticky-bottom{
  width: 100% !important; 
  border-bottom:  1px solid rgb(184, 184, 184);
}
