{% extends "base.html.twig" %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
<style>
	#listUsers, .container{
		margin-top:20px;
	}
	#formPopup{
		display:none;
		width:50%;
		background-color:white;
		position:fixed;
        margin:auto;
		margin-top:150px;
		padding : 20px;
		border:solid 1px grey;
		z-index:9;
	}
</style>

	<div class="container">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add user
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form >
			<div class="form-group">
				<label for="exampleInputEmail1">user name</label>
				<input type="text" class="form-control" placeholder="Enter user name" name="_username">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">user name</label>
				<input type="email" class="form-control" placeholder="Enter user name" name="_email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control"  placeholder="Password" name="_password">
			</div>
			<button class="btn btn-primary" onclick="submitForm()"> submit </button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {# <button type="button" class="btn btn-primary" onclick="closeForm()">Save changes</button> #}
      </div>
    </div>
  </div>
</div>
		<div id='listUsers'>
		</div>
	</div>
	<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
	<script>
		$(function () {
        $('#listUsers').initDataTables({{ datatable_settings(dataTable) }},{
			"searching":true,
			dom:'<"html5buttons"B>lTfgitp'
		})
		});
		function submitForm(){
			
			$('.close').click(); 
		}

	</script>
{% endblock %}
