@import '~bootstrap/dist/css/bootstrap.min.css';

#article_container{
    display:flex;
    flex-direction: column;
    margin-top:30px;
    gap:20px;
}

.title{
    font-weight: bold;
}

.comment_item{
    padding-left: 10px;
    background-color: rgb(231, 228, 228);
    border-radius: 20px 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.addArticle_container{
    width:800px;
    margin-top:30px;
}