main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 82.6vh;

    .input{
        border: 1px solid rgb(209, 207, 207);
        width: 582px;
        padding: 10px 8px 10px 14px;
        display: flex;
        border-radius:20px 20px ;

        input{
            border: none;
            width: 450px;
            outline: none;
        }
        .goxjub{
            font-size: 14px;
            font-family: $font;
            color: #202124;
            cursor: pointer;
            line-height: 44px;
            height: 24px;
            width: 24px;
            vertical-align: middle;
            padding-right: 5px;
        }
    }

    .buttons{
        display: flex;
        justify-content: center;
        gap: 10px;

        button{
            background-color: #f8f9fa;
            border:1px solid #f8f9fa;
            border-radius: 4px;
            color:#3c4043;
            font-family: $font;
            font-size: 14px;
            padding: 0px 16px;
            height: 36px;
            &:hover{
                border: 1px solid #7a7f83 ;
                cursor: pointer;
            }
        }

    }

    .translation{
        font-size: 13px;
        font-family: $font;
        color:#3c4043;

        a{
            text-decoration: none;
            color:#1a0dab;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}